.contenedor-perfil{
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-image: url('../../assets//inicio/hero.png');
}

.perfil-padre{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.perfil-detalles-nombre{
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
}

.detalles-role{
    display: flex;
    flex-direction: column;
    margin: 1.4rem 0 2.4rem 0;
}

.detalles-role h1{
    font-size: 4rem;
    font-family:'Quintessential', cursive;
}

.texto-primario{
    color: var(--white);
}

.texto-suave{
    color: var(--dark-orange);
}

.perfil-eslogan{
    font-size: 1.9rem;
    margin: 0.5rem 0 0 0;
    font-family: 'Poppins', sans-serif;
}

.perfil-option .highlighted-btn{
margin: 0 0 0 2.8rem;

}


.perfil-option .highlighted-btn:hover{
    margin: 0 0 0 2.8rem;
    background-color: cornsilk;
    color: #111;
    }

    .perfil-picture{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px var(--white);
        border-radius: 50%;
        height: 30rem;
        width: 38rem;
        margin: 0 0px 0 100px;


    }

    .perfil-picture-background{
        height: 92%;
        width: 92%;
        background-image: url('../../assets/inicio/perfilPortafolio.jpeg');
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .perfil-picture-background:hover{
        transform: scale(1.07);
        transition: 1s ease-out;
    }

    .colz .colz-icon i{
        color: white;
        padding: 0.8rem;
        font-size: 2rem;
        padding-left: 0px;
    }

    .colz .colz-icon i:hover{
        transform: scale(1.5);
      
    }

    @media screen and (max-width:110px) {
        .perfil-picture{
            margin: 0 0px 0 50px;
        }

        .perfil-detalles-nombre{
            font-size: 15px;
          
        }

        .detalles-role .texto-primario {
            font-size: 110px;

        }

        .perfil-option .btn{
            width: 120px;
            padding: 11px 0;
            z-index: 700;

        }
    }

    @media screen and (max-width:910px) {
        .perfil-picture{
            height: 320px;
            width: 320px;
            margin: 0 0 0 4px;
        }

    }

    @media screen and (max-width:910px) {
        .perfil-picture{
          
            margin: 0 !important;
        }
        

    }

    @media screen and (max-width:810px) {
        .perfil-padre{
           flex-direction: column-reverse;
           margin: 40px 0 0 0;
        }
        
        .perfil-option{
            display: flex;
            justify-content: space-between;
        }

        .detalle-perfil{
            margin:25px 0 0 ;
        }

        .perfil-option .highlighted-btn{
            margin: 0 !important;
        }

        .perfil-option, .detalles-role{
            text-align: center;
        }
    }

    
    @media screen and (max-width:375px) {
        .perfil-picture{
            height: 275px;
            width: 275px;
            margin-top: -90px;
        }

        .detalle-perfil{
            width: 90%;
        }
    }